@page "/about"

<h1>O stronie</h1>
<p>
    To jest przykładowa strona "About".<br />
    Możesz tu umieścić dowolny tekst opisujący Twoją aplikację, jej funkcje lub autora.<br />
    <br />
    Przykładowy tekst: <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, urna eu tincidunt consectetur, nisi nisl aliquam nunc, eget aliquam massa nisl quis neque.
</p>
<img src="https://placehold.co/600x200" alt="Przykładowe zdjęcie" style="max-width:100%;margin:2rem 0;" />
<p>
    Dodaj tu więcej informacji, zdjęć lub linków według uznania.
</p>
